Dockerfile
.dockerignore
.git
.github
.vscode
node_modules
npm-debug.log
README.md
docker-compose.*
mocks
coverage
.husky
dist
docker/local
digitalocean_*.md
IMPROVEMENTS.md
sample-excels
screenshots
modules/image-2-text/*.jpeg
