/node_modules
/coverage
.env
.env.db
client_secret.json
token.json
credentials.json
firebase-service-account.json
service-account.json
/screenshots
/pages
/cookies
/sample-excels
__pycache__/
/dist
/pending-transaction-assignments
/public/receipt-processing/
/traefik/acme.json
/modules/image-2-text/*.jpeg
/modules/image-2-text/*.jpg
